/*

Reflux Template

https://templatemo.com/tm-531-reflux

*/

@import url(fontawesome.css);
@import url(lato.css);
body {
    font-family: 'Lato', sans-serif;
}

#page-wraper { 
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;    　
}

/* Basic */

body {
    overflow-x: hidden;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #212121;
}

h4 {
    font-size: 25px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 0.25px;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    color: #36034e;
    letter-spacing: 0.25px;
}

img {
    width: 100%;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li {
    display: inline-block;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    margin: 0 auto;
}

.main-nav {
    text-align: center;
}

/* .main-nav li:last-child a {
    border-bottom: 2px solid #21212;
} */

.main-nav li {
    display: block;
}

.main-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #212121;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #22222;
}

.main-nav li:hover a,
.main-nav li.active a {
    background: #21212;
    color: #F5F5F5;
}

/* Sidebar Menu */

.menu .image {
    margin-top: 30px;
}

.menu .image img {
    margin-top: 0px;
    width: 140px;
    height: 140px;
    border-radius: 60%;
    text-align: center;
}

.menu .author-content {
    margin: 30px 0px 40px 0px;
}

.menu .author-content h4 {
    margin-bottom: 00px;
}

.menu .author-content span {
    font-size: 13px;
    font-style: italic;
    color: #21212;
}

.menu .social-network {
    margin-top: 40px;
    /* height: 100%; */
}


.menu .social-network ul li a {
    width: 40px;
    height: 40px;
    /*display: inline-block;*/
    text-align: left;
    line-height: 40px;
    background-color: #9575CD; /*rgba(0, 0, 0, 0.2);*/
    color: #21212;
    font-size: 14px;
    transition: all 0.5s;
}


.menu .social-network ul li a:hover {
    background-color: #9E9E9E;
    color: #F5F5F5;
}

.menu .copyright-text {
    position: relative;
    text-align: center;
    margin-top: 60px;
}

.menu .copyright-text p {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    font-size: 13px;
}

.menu:before,
.menu:after {
    content: "";
    display: table;
}

.menu:after {
    clear: both;
}

.menu a {
    text-decoration: none;
    color: inherit;
}   

.menu {
    text-align: center;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu {
    left: 10%;
  -webkit-transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
  -webkit-overflow-scrolling: touch;
  background-color: #9575CD;
  box-sizing: border-box;
  height: 100vh;  
  max-height: 100vh !important;
  max-width: 80vw !important;
  min-width: 45px !important;
  outline: none;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 0;
  position: fixed !important;
  top: calc(0px);  
  width: 20%;
  will-change: transform;
  z-index: 9999 !important;
}

.menu-toggle {
  color: #F5F5F5;
  cursor: pointer;
  font-size: 25px;
  position: fixed;
  right: 25px;
  top: 25px;
}

#menu-toggle {
    z-index: 999;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    color: #F5F5F5;
    background-color: #212121;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}

.menu-close {
  cursor: pointer;
}

#menu-close {
    cursor: pointer;
    text-align: right;
    color: #F5F5F5;
    background-color: #212121;
    width: 100%;
    height: 60px;
    text-align: center;
    display: inline-block;
    line-height: 60px;
}


/* Section */

.section {
    color: #212121;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
    border-bottom: 3px solid rgba(250, 250, 250, 0.25);
    /*border-bottom: 3px solid #E0E0E0*/
}

.section-heading {
    text-align: center;
    padding: 80px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #9575CD;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #F5F5F5;
    margin: 10px auto;
    margin-bottom: 30px;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #212121;
    letter-spacing: 0.5px;
}

.text-bottom {    
     text-align: left; 
     margin-bottom: 15px;
  }

.text-bottom p{   
     font-size: 20px;
     line-height: 24px;
     color: #212121;  
     margin-bottom: 20px;
  }

.text-bottom p a{  
     font-size: 20px;
     text-decoration: underline;
  }


.text-bottom a{   
    font-size: 22px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 0.25px;
  }


.text-bottom a:link, a:visited{   
    color: #212121;    
    text-decoration: underline;
  }

.text-bottom a:hover{   
    color: #9575CD;
  }

.text-bottom h4{    
     margin-bottom: 35px;
  }

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright
    {   
        width: 55%;
        right: 10%;
        left: 35%;
        position: relative;        
        padding: 2em 0em;
        text-align: center;
        color: #774535;
    }
    
#copyright .container
{
}

#copyright a
{
    text-decoration: none;
    color: #774535 !important;
}       

/* Buttons */

.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #21212;
    color: #F5F5F5;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
}

.white-button a:hover {
    background-color: #F5F5F5;
    color: #21212;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #21212;
    color: #F5F5F5;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    outline: none;
    background-color: #9575CD;
    color: #212121;
}


/* Left & Right Post */



.image img,

.image-post h4 {
    margin-top: 30px;
}

.image-post p {
    margin-top: 20px;
}

.image-post .white-button {
    margin-top: 30px;
}


/* Services */

.my-services .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}



@media screen and (max-width: 1680px) {
    .menu {
        left: 5%;
    }

    .section {
        color: #212121;
        width: 65%;
        right: 5%;
        left: 30%;
    }
}

@media screen and (max-width: 1680px) and (min-width: 846px) { 
    .menu .social-network ul li a {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .menu .social-network ul li {
        margin: 0;
    }

    .menu .image {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        left: 0%;
    }

    
    .image-post h4 {
        margin-top: 0px;
    }

   
    .image-post p {
        margin-top: 15px;
    }

    
    .image-post .white-button {
        margin-top: 25px;
    }

}

.menu .container {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 1280px) and (min-width: 846px) {
    .menu {
        width: 25%;
    }
}

#menu-toggle,
#menu-close {
    display: none;
}  

@media screen and (max-width: 845px) {        
    #menu-toggle,
    #menu-close {
        display: inline-block;
    }    

    .menu {        
        width: 320px;
        -webkit-transform: translateX(-100%) !important;
        transform: translateX(-100%) !important;
        transition: -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1);
        transition: transform 233ms cubic-bezier(0, 0, 0.21, 1), -webkit-transform 233ms cubic-bezier(0, 0, 0.21, 1);
    }

    .menu .image {
        margin-top: 40px;        
    }

    .menu .image img {
        width: 120px;
        height: 120px;
    }

    .menu .author-content {
        margin: 20px 0px 40px 0px;
    }

    .menu .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu.open {
        display: inline-block;
        -webkit-transform: translateX(0) !important;
                transform: translateX(0) !important;
    }

    .responsive-nav {
        display: inline-block;
    }
    .section {
        width: 94%;
        right: 3%;
        left: 3%;
    }
    .isotope-item {
        width: 94%;
        margin: 3%;
    }
    .image-post img {
        margin-bottom: 30px;
    }    
    .isotope-item {
        border-bottom: none;
        text-align: center;
    }
    .isotope-toolbar {
        margin-bottom: 20px;
    }
}
